page-home {

    svg {
        display: block;
        max-width: 900px;
        margin: 0 auto;
        background-color: lavender;
    }

    ion-scroll { white-space: nowrap; }

    .hex {
        cursor: pointer;
        fill-opacity: 0;
        stroke: #000;
        stroke-width: 1;
    }

}
